{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "bracketSpacing": true,
  "parser": "typescript",
  "arrowParens": "always",
  "useTabs": false,
  "printWidth": 120,
  "importOrder": ["^@/(.*)$", "^./", "^[./]"],
  "importOrderParserPlugins": ["typescript"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
